.card {
    width: 260px;
}

.book {
    composes: card;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #222;
    height: 450px;
    margin: auto;
    overflow: "auto";
}

.cover {
    margin: auto;
    display: list-item;
    width: 160px;
}

.description {
    composes: card;
    overflow: hidden;
    box-sizing: border-box;
    color: purple;
    flex: 1;
}

.scrolled {
    composes: card;
    position: relative;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.author_img {
    float: right;
}
