.toc {
    display: flex;
    flex-direction: column;
    height: calc(99vh - 60px);
    overflow: hidden;
}

.menu {
    display: "block";
    background: red;
    height: "100%";
    width: "100%";
    justify-content: "center";
    align-items: "center";
    overflow: "auto";
}

.subMenu {
    color: blue;
    background-color: brown;
    overflow: "auto";
}

.menuItemLabel {
    color: gray;
}
