/* These classes cannot be renamed, they are set by epub.js */

.epub_viewer {
    width: 100%;
    height: 100%;
}

.viewer.spreads {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px #ccc;
    border: 4px solid blue;
    border-radius: 30px;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    overflow: hidden;
    background: white url("ajax-loader.gif") center center no-repeat;
    top: 0px;
}

.viewer.spreads .epub-view > iframe {
    background: rgb(22, 219, 16);
    border: 20px solid purple;
    border-radius: 60px;
}

.viewer.scrolled {
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    position: relative;
    background: url("ajax-loader.gif") center center no-repeat;
    box-shadow: 0 0 4px #ccc;
    padding: 20px;
    background: white;
}

.viewer.scrolled .epub-view > iframe {
    background: white;
}
